*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Public Sans', sans-serif;
}

.logo{
    padding-left: 7rem;
}
.header-btn{
    color: hsl(233, 8%, 62%);
}

.nextgen-div{
    padding-bottom: 5rem;
}

.next-gen-el{
    padding-left: 7rem;
    padding-top: 8rem;
}

/* .gen-nextgen-img{
    position: relative;
    bottom: 5rem;
    left: 1rem;
} */

/* .nextgen-img{
    position: absolute;
    z-index: 2;
} */
.nextgen-img-two{
    position: absolute;
    right: 0.3rem;
    z-index: 1;
}

.why-choose{
    padding-top: 5rem;
}

.row-two{
    background-color: rgb(242, 247, 247);
    padding-bottom: 5rem;
}

.row-three{
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.gen-footer{
    background-color: hsl(233, 26%, 24%);
    padding: 2rem 0;
}

.footer-logo{
    filter: brightness(0) invert(1);
}

.footer-btn{
    width: 10rem;
}

.last-a{
    text-decoration: none;
    color: hsl(233, 8%, 62%);
}